:root
{
    --lb:#3A5Ab4;
    --db:#00144A;
    --green:#03C988;
}
 /* background-image: url(./geupic.png); */
.background
{
    background-image: url(./geupic.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:600px;
    background-position-y: -5px;
}

.welcometext
{
    margin-left: 30px;
    font-size: 25px;
    padding:350px 0px 0px 0px;
    color:white;
    font-family: 'montserrat','sans-serif';   
}
.joinusb
{
   
    background-color: #03C988;
    border: none;
    width:100px;
    border-radius:20px;
    font-size: 15px;
    padding:5px;
    color: white;
}


@media screen and (max-width: 768px)
{
    .background
    {
        height:300px;
    }
    .welcometext
    {
        font-size: 15px;
        padding:150px 0px 0px 0px;
     
    }
    .joinusb
    {
        font-size: 10px;
        padding:2px;
        width:70px;
    }
}