:root
{
    --lb:#3A5Ab4;
    --db:#00144A;
    --green:#03C988;
}
.recenteventdiv
{

    display: flex;
    justify-content: center;
    margin-top: 483px;
    position:absolute;
    width:100%;
    height:500px;
    background-color: var(--lb);
}
.recenthead
{
    margin-top: 20px;
    font-size: 35px;
    color :white;
    font-family: 'montserrat','sans-serif';
   
}
.eventcard
{
    margin-left: 8%;
    position:absolute;
    height:300px;
    width:550px;
    border-radius: 5px;
    background-color:var(--db);
    margin-top: 590px;
}
.eventcard2
{
    margin-right: 8%;
    margin-left: 54%;
    position:absolute;
    height:300px;
    width:550px;
    border-radius: 5px;
    background-color:var(--db);
    margin-top: 590px; 
}
.cardhead
{
    color: white;
    font-family: 'montserrat','sans-serif';
    margin-top: 10px;
    margin-left: 12%;
    font-size: 35px;
}
.card1post
{
    width:40%;
    margin-left: 57%;
}
.eventparagraph
{
    position: absolute;
    color:white;
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 2%;
    text-align: justify;
}
.eventvl
{
    background-image: linear-gradient(var(--db),var(--green));
    width:2px;
    height:300px;
   

}
.vllinediv
{
    position :absolute;
    margin-top:590px;
    display: flex;
    width:100%;
    justify-content: center;
}


/* responsive */




@media (max-width: 600px) { 

    .recenteventdiv
    {
    
        display: flex;
        justify-content: center;
        margin-top: 313px;
        position:absolute;
        width:100%;
        height:610px;
        background-color: var(--lb);
    }

    .recenthead
{
    margin-top: 20px;
    font-size: 25px;
    color :white;
    font-family: 'montserrat','sans-serif';
   
}
.cards_event
{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.eventcard
{
    margin-left: 0px;
    position:absolute;
    height:210px;
    width:375px;
    margin-top: 390px;
}
.eventcard2
{
    margin-left: 31px;
    position:absolute;
    height:210px;
    width:375px;
    margin-top: 650px; 
}
.cardhead
{   margin-left: 0px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.eventparagraph{
    font-size: 10px;
}
.speakername
{
    font-size: 15px;
}
.vl
{
    visibility: hidden;
}
.card1post
{
    width:41%;
}
 }

 @media (min-width:768px) and (max-width:800px)
 {

 }