.alumcard
{
    background-color:var(--db);
    width:30%;
    height:90%;
    position: absolute;
    margin-left: 12.5%;
    margin-right: 20%;
    border-radius: 20px;
    margin-top:2%;
}

.alumcard2
{
    
    background-color:var(--db);
    width:30%;
    height:90%;
    position: absolute;
    margin-left: 58.5%;
    /* margin-right: 20%; */
    border-radius: 20px;
    margin-top:2%;
}

.alumnusbghide
{
    margin-top: 64px;
    background-color:white;
    position: absolute;
    width:100%;
    height:1250px;
}
.alumimg
{
    position: absolute;
    width:70%;
    margin-left: 15%;
    margin-top: 5%;
}
.alumname
{
    text-align: center;
    position:absolute;
    color:white;
    margin-top: 90%;
    margin-left: 12%;
    font-size: 50px;
    font-family: 'montserrat','sans-serif';
}

.alumnamegt
{
    text-align: center;
    position:absolute;
    color:white;
    margin-top: 90%;
    font-size: 30px;
    margin-left: 7%;
    font-family: 'montserrat','sans-serif';
}

.alumdes
{
 position : absolute;
 color:white;
 margin-top: 105%;
 margin-left: 27%;
 font-family: 'montserrat','sans-serif';
}
.alumdes h4
{
    text-align: center;
}
.scmvl
{
    width:2px;
    height:40px;
    margin-top: 8px;
    background-color: white;
}
.socialmedia
{
    margin-top: 135%;
    display:flex;
    justify-content: center;
    position: absolute;
    background-color: var(--lb);
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}
.scmicon
{
    width:8%;
    margin: 8px;
}
