.officersdiv
{
    width:100%;
    position:absolute;
    margin-top:1493px;
    display:flex;
    justify-content: center;
    font-family: 'montserrat','sans-serif';
   color:var(--db);
}
.officerscarousel
{
    background-color: var(--db);
    width:100%;
    height: 500px;
    position:absolute;
    margin-top:100px;
}




::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
   
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background:var(--green);
  }
  .container {
    display: flex;
    gap: 12px;
    max-width: 100%;
    width: 100%;
    background:var(--lb);
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  .container .card {
    display: flex;
    flex: 0 0 25%;
    height: 550px;
    width:150px;
    margin-left: 2%;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
    background:var(--db);
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
 
  .card .image {
      height:150px;
      width: 220px;
    padding: 0px;
    /* background: #4070f4; */
    border-radius: 50%;
  }
  .image img {
    height: 300px;
    width: 220px;
    object-fit: cover;
    border-radius: 2%;
    /* border: 5px solid  var(--green); */
  }
  .card h2 {
    text-align: center;
    margin-top: 70%;
    color:#f5f5f5;
    font-size: 30px;
    font-weight: 600;
  }
  .card p {
    margin-top: 5%;
    font-size: 25px;
    font-weight: 400;
    color:#f5f5f5;
    text-align: center;
  }
.socialmediaoff
{
  margin-top: 10%;
  width:341px;
  height:25px;
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
}
.scmofficon
{
  width:10%;
  margin: 2px;
}
.scmvloff
{
  background-color: var(--db);
  height:20px;
  width:2px;
  margin-top:2px ;
  border-radius: 50px;
}
.card h4
{
  /* position: absolute; */
  color:white;
  margin-top: 12.5%;
  font-size: 23px;
}




@media (max-width: 576px) { 

}


@media (max-width: 768px) { 

    .officersdiv
    {
        width:100%;
        position:absolute;
        margin-top:1800px;
        display:flex;
        justify-content: center;
        font-family: 'montserrat','sans-serif';
       color:var(--db);
    }
    .officerscarousel
    {
        background-color: var(--db);
        width:100%;
        height: 370px;
        position:absolute;
        margin-top:50px;
    }
    .container {
       
        gap: 6px;
        border-radius: 6px;
        padding: 10px;
        
      }

      .container .card {
        display: flex;
        flex: 0 0 50%;
        height: 350px;
        margin-left: 2%;
        padding: 40px;
        border-radius: 2px;
      }
      .card .image {
        margin-top: 0px;
        height:50px;
        width: 140px;
       padding: 0px;
      border-radius: 50%;
    }
    .image img {
        height: 180px;
        width: 140px;
        object-fit: cover;
        border-radius: 2%;
        /* border: 5px solid  var(--green); */
      }

      .card h2 {
        text-align: center;
        margin-top: 100%;
        color:#f5f5f5;
        font-size: 15px;
        font-weight: 600;
      }
      .card p {
        margin-top: 5%;
        font-size: 10px;
        font-weight: 400;
        color:#f5f5f5;
        text-align: center;
      }

.socialmediaoff
{
  margin-top: 5%;
  width:141px;
  height:25px;
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
}
.scmofficon
{
  width:10%;
  margin: 2px;
}
.scmvloff
{
  background-color: var(--db);
  height:15px;
  width:1px;
  margin-top:2px ;
  border-radius: 50px;
}
.card h4
{
  /* position: absolute; */
  color:white;
  margin-top: 12.5%;
  font-size: 10px;
}
  
 }

@media (max-width: 992px) { 
   
      
 }

@media (max-width: 1200px) {  }


@media (max-width: 1400px) {  }
